@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Aquí encontrarás todo tipo de productos.</p>
</div>
<br/>
<div class="container-fluid">
    <div class="row g-100 justify-content-center">
      <div class="col-auto text-center">
          <a href="/Abarrotes"><img class="img-fluid img-fluid-hover" width="64" height="64" src="https://img.icons8.com/color-glass/64/pantry.png" alt="pantry"/></a>
          <br/>
          <i>Abarrotes</i>
      </div>
      <div class="col-auto text-center">
          <a href="/JugosYBebidas"><img class="img-fluid img-fluid-hover" width="64" height="64" src="https://img.icons8.com/color/64/carton-of-orange-juice.png" alt="carton-of-orange-juice"/></a>
          <br/>
          <i>Jugos y <br/>Bebidas</i>
      </div>
      <div class="col-auto text-center">
          <a href="/LacteosYHuevos"><img class="img-fluid img-fluid-hover" width="64" height="64" src="https://img.icons8.com/color/96/milk-carton.png" alt="milk-carton"/></a>
          <br/>
          <i>Lácteos y <br/>Huevos</i>
      </div>
          <div class="col-auto text-center">
          <a href="/HigieneYBelleza"><img class="img-fluid img-fluid-hover" width="64" height="64" src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-hygiene-cleaning-flaticons-lineal-color-flat-icons-3.png" alt="external-hygiene-cleaning-flaticons-lineal-color-flat-icons-3"/></a>
          <br/>
          <i>Higiene y <br/>Belleza</i>
      </div>
        <div class="col-auto text-center">
          <a href="/Limpieza"><img class="img-fluid img-fluid-hover" width="64" height="64" src="https://img.icons8.com/color/64/housekeeping.png" alt="housekeeping"/></a>
          <br/>
          <i>Limpieza</i>
      </div>
          <div class="col-auto text-center">
          <a href="/CervezasYVinosYLicores"><img class="img-fluid img-fluid-hover" width="64" height="64" src="https://img.icons8.com/plasticine/100/beer.png" alt="beer"/></a>
          <br/>
          <i>Cervezas,<br/>Vinos y <br/>Licores</i>
      </div>
          <div class="col-auto text-center">
          <a href="/CarnesYPescado"><img class="img-fluid img-fluid-hover" width="64" height="64" src="https://img.icons8.com/cotton/64/steak-rare--v1.png" alt="steak-rare--v1"/></a>
          <br/>
          <i>Carnes y <br/>Pescados</i>
      </div>
          <div class="col-auto text-center">
          <a href="/FrutasYVerduras"><img class="img-fluid img-fluid-hover" width="64" height="64" src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-fruits-farm-flaticons-lineal-color-flat-icons-2.png" alt="fruits"/></a>
          <br/>
          <i>Frutas y <br/>Verduras</i>
      </div>
    </div>
</div>
